@{
    ViewBag.Title = "Responsive Design II - Jquery PlugIn";
}

<style>
    html, body {
        height: 100%;
        width: 100%;
    }

    .body-content {
        height: 80%;
    }

    .img-content {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
</style>


@section scripts{
    <script src="~/Scripts/jquery.image-server-resize.js"></script>
    <script type="text/javascript">
        $(document).on("ready", function () {
            $(".img-content").resizeInServer();
        });
    </script>
}

<h2>TestResponsive</h2>

<div id="2" class="img-content" data-src="@Url.Content("D.png")">
    <img alt="imagen" />
</div>